* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary: hsla(180, 45%, 34%, 0.9);
  --primary-hover: hsla(180, 45%, 34%, 1);
  --primary-light: hsla(180, 60%, 70%, 0.3);
  /* --dark-grey: hsl(230 5% 13%);
  --grey: hsl(203 7% 25%);
  --light-grey: hsl(0 0% 67%);
  --main-grey-hover: hsl(200 6% 30%); */

  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight: hsla(330, 0%, 39%, 0.9);
  --highlight-hover: hsl(330 0% 39%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);

  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  --secondary: hsl(358 66% 75%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}

svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--text);
}

body {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-light);
  transition: grid-template-columns 0.5s ease;
}

#header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-inner {
  width: 100%;
}

.sidebar {
  grid-row: 2;
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  min-width: 0;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  padding: 0.35rem 0.5rem;
}

.sidebar-item:hover {
  background-color: var(--border-muted);
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-item.active {
  background-color: var(--primary-light);
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar-link--bar {
  display: flex;
  justify-content: space-between;
}

.sidebar-link--bar span {
  white-space: nowrap;
}

.sidebar-link--bar svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 2px;
  border-radius: 4px;
  opacity: 0;
}

.sidebar-link--bar:hover svg {
  opacity: 1;
}

.sidebar-link--bar svg:hover {
  background-color: var(--border);
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 0 1fr;
  }

  .sidebar {
    transform: translateX(-100%);
  }
}

.main-content {
  grid-row: 2;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

/* .main-content centers, so to prevent view from shrinking before space around
  collapses, set width 100% and make a max width. This protects the content until
  all the surrounding space is 0 */
.view {
  width: 100%;
  height: 100%;
  max-width: 900px;
  padding: 3rem;
}

.view-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
  padding: 0;
}

.view-title {
  margin: 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 600;
}

.view-meta {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  margin: 0;
  font-size: 1rem;
}

.view-meta svg {
  fill: var(--text-muted);
}

.view-meta-tasks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}

.view-meta-tasks > * {
  margin: 0;
  line-height: 1;

  color: var(--text-muted);
  font-weight: 500;
}

.view-add-tasks:hover {
  color: var(--text);
  cursor: pointer;
}

.tasks-container {
  width: 100%;
  max-width: 900px;
  padding-top: 2rem;
}

.task-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--highlight);
  cursor: pointer;
}

.task-item:hover {
  background-color: var(--border-muted);
  transition: 0.3s ease;
}

.task-checkbox {
  align-self: flex-start;
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
  background-color: transparent;
  border: 2px solid var(--text);
  border-radius: 50%;
}

.task-item-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.task-text > * {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-left: 1rem;
}

.task-title {
  -webkit-line-clamp: 1;
}

.task-description {
  color: var(--text-muted);
  font-size: 0.8rem;
}

.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 425px) {
  .task-details {
    display: none;
  }
}

dialog {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background: var(--gradient);
  padding: 1rem;
  margin: 0;
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  border-radius: 6px;
  box-shadow: inset 0 1px 0 var(--highlight), var(--shadow);
  z-index: 1;
  overflow: visible;
}

dialog:hover {
  background: var(--gradient);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* test later with showModal */
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.form-container input {
  background: transparent;
  padding: 0.25rem;
  border: none;
  outline: none;
}

#form-title {
  font-size: 1.25rem;
  font-weight: 600;
}

#form-title::placeholder {
  color: var(--text-muted);
}

#form-description {
  padding-bottom: 1rem;
}

#form-description::placeholder {
  color: var(--text-muted);
}

.form-details {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
  cursor: pointer;
}

/* .dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
} */

.dropdown-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  padding: 0.25rem 0.5rem;
  background-color: var(--bg-light);
  border: 1px solid var(--highlight);
  border-radius: 4px;
  font-size: 0.75rem;
}

.dropdown-select:hover {
  background-color: var(--border-muted);
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  /* visibility: hidden; */
  /* opacity: 0; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-light);
  border: 1px solid var(--border-muted);
  border-radius: 4px;
  font-size: 0.75rem;
  /* transform: opacity 0.2s linear, visibility 0.2s linear; */
}

.dropdown-option {
  width: 100%;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.dropdown-option:hover {
  background-color: var(--border-muted);
}

.dropdown-option:first-child:hover {
  border-radius: 3px 3px 0px 0px;
}

.dropdown-option:last-child:hover {
  border-radius: 0px 0px 3px 3px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cancel {
  background-color: var(--highlight);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;

  color: var(--text);
  font-weight: 600;
  cursor: pointer;
}

.cancel:hover {
  background-color: var(--highlight-hover);
}

.add {
  background-color: var(--primary);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;

  color: var(--text);
  font-weight: 600;
  cursor: pointer;
}

.add:hover {
  background-color: var(--primary-hover);
}

.select-date {
  position: relative;
}

/* .select-date:hover ~ .calendar {
  visibility: visible;
  opacity: 1;
} */

.calendar {
  position: absolute;
  top: 72%;
  left: -0.5%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: auto;
  padding: 0.5rem;
  background: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 12px;
  box-shadow: inset 0 1px 0 var(--highlight), var(--shadow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.monthYear {
  width: 150px;
  text-align: center;
  font-weight: 600;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 0.25rem;
  color: var(--text-muted);
  font: 600;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.date:hover,
.date.active {
  background-color: var(--primary);
  color: var(--text);
}

.date.inactive {
  color: var(--border-muted);
}

.date.inactive:hover {
  color: #fff;
}

.hide {
  display: none;
}
