* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --brand-header-color: #307e7e;
  --dark-grey: #242729;
  --grey: #393e41;
  --light-grey: #acacac;
  --main-grey-hover: #474d50;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}

body {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
  transition: grid-template-columns 0.5s ease;
}

#header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  background-color: var(--brand-header-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-inner {
  width: 100%;
}

.sidebar {
  grid-row: 2;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  min-width: 0;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  padding: 0.35rem 0.5rem;
}

.sidebar-item:hover {
  background-color: var(--main-grey-hover);
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar-link--bar {
  display: flex;
  justify-content: space-between;
}

.sidebar-link--bar span {
  white-space: nowrap;
}

.sidebar-link--bar svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 2px;
  border-radius: 4px;
  opacity: 0;
}

.sidebar-link--bar:hover svg {
  opacity: 1;
}

.sidebar-link--bar svg:hover {
  background-color: var(--light-grey);
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 0 1fr;
  }

  .sidebar {
    transform: translateX(-100%);
  }
}

.main-content {
  grid-row: 2;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

/* .main-content centers, so to prevent view from shrinking before space around
  collapses, set width 100% and make a max width. This protects the content until
  all the surrounding space is 0 */
.view {
  width: 100%;
  height: 100%;
  max-width: 900px;
  padding: 3rem;
}

.view-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
  padding: 0;
}

.view-title {
  margin: 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 600;
}

.view-meta {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 0.5rem;
  margin: 0;
  font-size: 1rem;
}

.view-meta svg {
  fill: var(--light-grey);
}

.view-meta-tasks {
  margin: 0;
  line-height: 1;

  color: var(--light-grey);
  font-weight: 500;
}

.tasks-container {
  width: 100%;
  max-width: 900px;
  padding-top: 2rem;
}

.task-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--light-grey);
  cursor: pointer;
}

.task-item:hover {
  background-color: var(--main-grey-hover);
  transition: 0.3s ease;
}

.task-checkbox {
  align-self: flex-start;
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
}

.task-item-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.task-text > * {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-left: 1rem;
}

.task-title {
  -webkit-line-clamp: 1;
}

.task-description {
  color: var(--light-grey);
  font-size: 0.8rem;
}

.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 425px) {
  .task-details {
    display: none;
  }
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background-color: var(--dark-grey);
  padding: 1rem;
  margin: 0;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  z-index: 1;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
}

.form-container input {
  background-color: var(--dark-grey);
  padding: 0.25rem;
  border: none;
  outline: none;
}

#form-title {
  font-size: 1.25rem;
  font-weight: 600;
}

#form-description {
  padding-bottom: 1rem;
}

.form-details {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
  cursor: pointer;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: 0.75rem;
}

.dropdown-list {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 4px;
  font-size: 0.75rem;
  transform: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-option {
  width: 115px;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.dropdown-option:hover {
  background-color: var(--main-grey-hover);
}

.dropdown-option:first-child:hover {
  border-radius: 4px 4px 0px 0px;
}

.dropdown-option:last-child:hover {
  border-radius: 0px 0px 4px 4px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cancel {
  background-color: rgb(175, 175, 175);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;

  color: white;
  font-weight: 600;
  cursor: pointer;
}

.add {
  background-color: var(--brand-header-color);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;

  color: white;
  font-weight: 600;
  cursor: pointer;
}

.select-date {
  position: relative;
}

.select-date:hover ~ .calendar {
  visibility: visible;
  opacity: 1;
}

.calendar {
  position: absolute;
  top: 72%;
  left: 0;
  right: 0;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: auto;
  padding: 0.5rem;
  background-color: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.monthYear {
  width: 150px;
  text-align: center;
  font-weight: 600;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--grey);
  border-radius: 50%;
  background-color: var(--dark-grey);
  cursor: pointer;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 0.25rem;
  color: var(--light-grey);
  font: 600;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.date:hover,
.date.active {
  background-color: var(--brand-header-color);
  color: white;
}

.date.inactive {
  color: var(--grey);
}

.date.inactive:hover {
  color: #fff;
}
