* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}
/* #242729 */
body {
  background-color: #393e41;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.9fr 4fr;
  grid-template-rows: 0.1fr 0.3fr 1fr;
  overflow: hidden;
}

header {
  background-color: #307e7e;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

/****************** SIDEBAR ******************/
#sidebar {
  background-color: #242729;
  grid-column: 1;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
}

#menu {
  display: flex;
  flex-direction: column;
}

#menu .menu-item,
#projects .project-item {
  padding: 0.35rem 0.5rem;
}

#menu .menu-link,
#projects .project-link {
  font-size: 1rem;
}

#menu .menu-item:hover,
#projects .project-item:hover {
  background-color: rgba(74, 80, 84, 0.9);
  border-radius: 4px;
  cursor: pointer;
}

#menu .menu-link,
#projects .project-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#projects #project-bar {
  display: flex;
  justify-content: space-between;
}

#projects #project-bar svg {
  opacity: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: 2px;
  border-radius: 4px;
}

#projects #project-bar:hover svg {
  opacity: 1;
}

#projects #project-bar svg:hover {
  background-color: rgba(107, 114, 119, 1);
}

/****************** TASKS/CONTENT SECTION ******************/
#content {
  grid-column: 2;
  grid-row: 2 / 4;
}

.container {
  width: auto;
  height: 100%;
  padding: 5rem 10rem;
}

.heading .title {
  font-size: 2rem;
  font-weight: 600;
}

.heading .numTasks {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
